<%= form_with(model: contact, id: "contact_form", data: { extended_modal_target: 'form', remote: true }) do |form| %>
  <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4 font-jost">
    <% if contact.errors.any? %>
      <div class="p-4 border border-red-600">
        <ul>
          <% contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, autofocus: true, class: "input" %>
    </div>

    <div class="form-group">
      <%= form.label :email, class: "label" %>
      <%= form.email_field :email, autocomplete: "email", class: "input" %>
    </div>

    <div class="form-group">
      <%= form.label :phone, class: "label" %>
      <%= form.text_field :phone, class: "input" %>
    </div>

   <%= form.fields_for :messages do |m| %>
    <div class="form-group">
      <%= form.label :message, class: "label" %>
      <%= m.text_area :body, class: "input", rows: 6 %>
    </div>

    <div class="form-group">
      <%= form.label t('project_start'), class: "label" %>
        <ul class="grid justify-between max-w-3xl grid-cols-1 mt-3 md:flex md:items-start">
          <% human_attribute_project_schedules.each do |k, v| %>
            <li class="relative py-4">
              <%= m.radio_button :project_schedule, k,  class: "sr-only peer" %>
              <%= m.label "project_schedule_#{k}", v, class: "p-2 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-yellow-500 peer-checked:ring-2 peer-checked:border-transparent"%>
            </li>
          <% end %>
        </ul>
    </div>
    <% end %>

  </div>

  <div class="flex items-center px-4 mt-6 rounded-b font-jost">
    <button type="submit" class="w-full px-4 py-2 mb-4 text-white rounded-sm bg-brandGreen">
      <%= t('send_message') %>
    </button>
  </div>
<% end %>