<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    h4 {
      color: #4c1212;
      font-size: 1.6rem;
      font-family: "Trebuchet MS", Verdana, sans-serif;
    }
    h5 {
      color: #4c1212;
      font-size: 1.4rem;
      font-family: Helvetica, Arial, sans-serif;
    }
    h6 {
      color: #a1d02f;
      font-size: 1.2rem;
      font-family: Helvetica, Arial, sans-serif;
    }
</style>
  </head>
  <body>
    <div>
      <h3>Voici le nouveau message issu de '<%= ENV['DOMAIN_FOR_CONTACTS_EMAIL'] %>':</h3>
      <h4>
        <%= @contact.messages.first.body %>
      </h4>
      <p>Projet :<%= @project_schedule %></p>
    </div>
    <div>
      <h3>Coordonnées du contact:</h3>
      <h5><%= @contact.name %></h5>
      <h6><%= @contact.phone %></h6>
      <p><%= @contact.email %></p>
      <% zc_cn = Zipcode.find_by_id(@contact.zipcode_id) %>
      <p><%= "#{zc_cn.code} - #{zc_cn.name}" %>
    </div>
  </body>
</html>
