<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- CookieBot script -->
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js"
            data-cbid="344337a3-0df1-4a31-985a-ace3d4073c4d" data-blockingmode="auto"
            type="text/javascript">
    </script>
    <title><%= meta_title %></title>
    <%= favicon_link_tag "reynaudcharpente.ico", alt: "Reynaud Charpente" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
    <!-- Preload for font -->
    <link
      rel="preload"
      href=<%= asset_path "Jost-VariableFont_wght.woff2" %>
      as="font"
      type="font/woff2"
      crossOrigin="anonymous"
    />  

    <style>
      #menu-toggle:checked + #menu {
        display: block;
      }
    </style>
  </head>

  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-50">
    <main>
      <%= render "shared/navbar" %>
      <%= render "shared/admin_session" %>
      <%= render "shared/breadcrumbs" %>
      <%= yield %>
      <div id="bound-notifications"
          class="fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end">
      </div>
    </main>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
