<!DOCTYPE html>
<html>
  <head>
    <title>Reynaudcharpente</title>
    <%= favicon_link_tag "reynaudcharpente.ico", alt: "Reynaud Charpente" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
